
  .package-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .package-card {
    background-color: var(--white-color);
    border: 1px solid var(--bs-gray);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--bs-gray-dark);
    width: 300px;
    padding: 20px;
    text-align: center;
    font-family: var(--my-font2);
  }
  
  .package-title {
    color: var(--primary-color);
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .package-price, .package-services, .package-description, .package-discount {
    margin: 10px 0;
  }
  
  .schedule-button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .schedule-button:hover {
    background-color: var(--secondary-color);
    color: var(--black-color);
  }
  