
.discover-experiences {
  text-align: center;
  padding: 40px 20px;
}

.discover-experiences h1 {
  color: var(--primary-color);
  font-size: 36px;
  margin-bottom: 20px;
}

.discover-experiences h3 {
  color: var(--bs-warning);
  font-size: 24px;
  margin-bottom: 20px;
}


.slick-dots {
  margin-top: 1rem; 
  bottom: -30px; 
  display: flex;
  justify-content: center;
  padding: 0;
}

.slick-dots li {
  margin: 0 0.25rem; 
  list-style: none;
}

.slick-dots li button {
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 0;
  font-size: 0; 
}

.slick-dots li button:before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary-color); 
  display: inline-block;
  transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button:before {
  background-color: var(--bs-warning);
}

.experience-item {
  background-color: var(--bs-gray-100);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

.slick-slide.slick-current .experience-item {
  animation-delay: 0.1s;
}

.slick-slide.slick-active .experience-item {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.experience-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.experience-item img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  opacity: 0;
  transform: scale(0.95);
  animation: fadeInScale 0.5s forwards;
  animation-delay: 0.2s;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.experience-item img:hover {
  transform: scale(1.05);
}

.experience-item h2 {
  color: var(--primary-color);
  font-size: 24px;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s forwards;
  animation-delay: 0.3s;
}

.experience-item p {
  color: #000;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s forwards;
  animation-delay: 0.4s;
}

.experience-item a {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px 20px;
  font-weight: 900;
  transition: background-color 0.3s ease, color 0.3s ease;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s forwards;
  animation-delay: 0.5s;
}

.experience-item a:hover {
  color: var(--bs-warning);
}

@media screen and (max-width: 768px) {
  .discover-experiences h1 {
    font-size: 28px;
  }

  .discover-experiences h3 {
    font-size: 20px;
  }
}
