.service-coverage {
    text-align: center;
    padding: 20px 50px;
  }
  
  .service-coverage h2 {
    color: var(--bs-warning);
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .service-coverage p {
    margin: 10px 0;
  }
  
  .service-coverage table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
  }
  
  .service-coverage th,
  .service-coverage td {
    border: 1px solid var(--bs-gray);
    padding: 8px;
  }
  
  .service-coverage th {
    background-color: var(--bs-gray);
    color:var(--bs-gray-dark);
  }
  
  .service-coverage td {
    color: var(--text-color);
  }
  
  @media screen and (max-width: 768px) {
    .service-coverage {
      padding: 20px;
    }

    .service-coverage h2 {
      font-size: 20px;
    }

    .service-coverage table {
      font-size: 14px;
    }

    .service-coverage th,
    .service-coverage td {
      padding: 5px;
    }

    .service-coverage p {
      font-size: 14px;
    }

    .service-coverage h3 {
      font-size: 16px;
    }

    .service-coverage h4 {
      font-size: 14px;
    }
    
  }