.team {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.team__container {
  display: flex;
  width: 100%;
  height: 60vh; 
}

.team__image, .team__header {
  width: 50%;
  height: 100%;
}

.team__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--black-color); 
  color: var(--white-color); 
  padding: 0 20px; 
}

.slick-slide {
  padding: 0 10px; /* Reduce space between slides */
}

.slick-list {
  margin: 0 auto; /* Center the slider */
  max-width: 1200px; /* Set a max-width for the slider */
  padding: 0 10px; /* Add padding to center the content */
}

.team__carousel {
  width: 100%;
  margin-top: -60px; /* Adjust as needed to touch the section */
  display: flex;
  justify-content: center; /* Center the carousel */
}

.team__member {
  padding: 10px;
  text-align: justify; /* Center the text and images */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__member img {
  max-width: 300px; /* Increase size based on your layout */
  max-height: 375px; /* for a 4:5 aspect ratio */
  object-fit: cover; /* ensures the image covers the container without stretching */
  border: solid 5px var(--white-color);
}

@media (min-width: 768px) {
  .team__member img {
    max-width: 300px; /* adjust size for larger screens */
    max-height: 375px;
  }
}

.card__image:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.team__member h3 {
  font-size: 1rem;
  margin: 10px 0 5px;
}

.team__member p {
  font-size: 0.9rem;
  color: var(--primary-color);
}

.social-icons {
  position: absolute;
  bottom: 40px; /* Move icons up */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  display: flex;
  flex-direction: column; 
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.team__member:hover .social-icons {
  opacity: 1;
  transform: translateY(-10px); /* Move up slightly on hover */
}

.social-icons .icon {
  background-color: var(--white-color);
  margin: 2px ; /* Adjust space between icons */
  color: #333;
  border-radius: 50%;
  padding: 5px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.social-icons .icon:hover {
  color: var(--white-color); 
  background-color: var(--highlight-color);
}

.plus-icon {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px; /* Font size for the icon */
  background-color: var(--highlight-color);
  color: var(--white-color);
  border-radius: 50%;
  padding: 5px 12px; /* Padding for the icon */
  transition: transform 0.3s ease;
  z-index: 1;
}

.team__member:hover .plus-icon {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {
  .team__member {
    width: 100%;
  }

  .plus-icon {
    left: 70%;
  }
}

@media screen and (max-width: 480px) {
  .plus-icon {
    left: 60%;
  }

  .team__member img {
    max-width: 200px;
    max-height: 250px;
  }

  .team__member h3 {
    font-size: 0.9rem;
  }

  .team__member p {
    font-size: 0.8rem;
  }
  
}
